@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

:focus {
  outline: none !important;
}

h1 {
  @apply ml-[-0.1rem] mb-4 font-extrabold text-3xl sm:text-4xl md:text-5xl;
}

p a {
  @apply font-bold hover:underline hover:text-black dark:hover:text-white;
}